* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body {
    background-image: url("img/whiteworker.jpeg");
} */
.header {
    width: 100%;
    height: 400px;
    background-image: url("img/worker.webp");
    background-size: cover;
    background-position: bottom;
}
.header .header-contents {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
.side-bar {

}
.side-bar .side-bar-container {
    width: 20%;
    height: 2000px;
    background-image: url("img/white3.jpeg");
    background-position: center;
}