// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// /session/new.html.erb&registration/new.html.erb
h2 {
  margin: 20px 0 10px;
}

.field {
  margin-bottom: 10px;
}

.actions {
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}
.btn-signup {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-signin {
  background: #337AB7;
}
//users/show.html.erb
.book_title {
  margin-bottom: 5px;
}
.book_body {
  margin-bottom: 10px;
}




