main {
  height: 400px;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-image: url(image1/weather.png);
}

.main h1 {
  margin: 0;
  text-align: center;
  padding-top: 170px;
}

.sub {
  background-color: grey;
  font-weight: normal;
  height: 30%;
  width: 100%;
}

.sub h2 {
  margin: 0;
  padding-top: 47px;
  text-align: center;
}

.content {
  height: 70%;
  width: 100%;
  background: white;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: center;
  position: relative;
}

.cont {
  margin: 90px 70px 50px;
  border-radius: 50%;
}
.cont h3 {
  margin: 0 auto;
  text-align: center;
  line-height: 130px;
}

.no1 {
  border: 1px solid black;
  width: 130px;
  height:130px;
  position: absolute;
  left: 150px;
}

.no2 {
  border: 1px solid black;
  width: 130px;
  height:130px;
  position: absolute;
}

.no3 {
  border: 1px solid black;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 150px;
}

.fas {
  display: block;
  display: flex;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  top: 87px;
  left: 53px;
}
